
@{
    ViewBag.Title = "EditMovieStatus";
}
<style>
    .tbl_1 {
        width: 100%;
        background-color: #34495E;
        color: white;
        padding: 20px;
        font-size: 20px;
        border-spacing: 20px;
        border-top: 1px solid black;
        text-align: justify;
    }

    .tbl_3 {
        width: 100%;
        background-color: darkgray;
        border-bottom: 1px solid black;
    }
</style>
<table class="tbl_1">
    <tr>
        <td>
            <h2>Movie Curiser&nbsp;&nbsp;<img src="~/images/images.jpg" class="image" /></h2>
        </td>
        <td style="text-align:right">
            @Html.ActionLink("Movies", "MovieListAdmin", "Home") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>
<h2 style="margin-left:70px">EditMovieStatus</h2>
<br />
<div style="margin-left:70px;color:green"><b>Movie Details Saved Sucessfully</b></div>
<br /><br /><br /><br /><br />
<table class="tbl_3">
    <tr>
        <td>
            <br />
            copyright © 2019
            <br />
        </td>
    </tr>

</table>